{{extend 'layout.html'}}
<p style="text-align:center;">استمارة عضوية</p>
<table style="float:right;width:100%">
{{=form.custom.begin}}
<tr>
<td><p class="customparagraph">{{=form.custom.widget.Name}}</p></td>    
<td><p class="customparagraph">اسم العضو</p></td>
</tr>
<tr>
<td><p class="customparagraph">{{=form.custom.widget.Job}}</p></td>    
<td><p class="customparagraph">الوظيفة</p></td>
</tr>
<tr>
<td><p class="customparagraph">{{=form.custom.widget.Sex_type}}</p></td>    
<td><p class="customparagraph">النوع</p></td>
</tr>
<tr>
<td><p class="customparagraph">{{=form.custom.widget.Date_of_birth}}</p></td>    
<td><p class="customparagraph">تاريخ الميلاد</p></td>
</tr>
<td><p class="customparagraph">{{=form.custom.widget.Membership_ID}}</p></td>    
<td><p class="customparagraph">رقم العضوية</p></td>
</tr>
<tr>
<td><p class="customparagraph">{{=form.custom.widget.Membership_type}}</p></td>    
<td><p class="customparagraph">نوع العضوية</p></td>
</tr>
<tr>
<td><p class="customparagraph">{{=form.custom.widget.Membership_category}}</p></td>    
<td><p class="customparagraph">فئة العضوية</p></td>
</tr>
<tr>
<td><p class="customparagraph">{{=form.custom.widget.Start_Date}}</p></td>    
<td><p class="customparagraph">تاريخ العضوية</p></td>
</tr>
<tr>
<td><p class="customparagraph">{{=form.custom.widget.Home_Phone}}</p></td>    
<td><p class="customparagraph">هاتف المنزل</p></td>
</tr>
<tr>
<td><p class="customparagraph">{{=form.custom.widget.Work_Phone}}</p></td>    
<td><p class="customparagraph">هاتف العمل</p></td>
</tr>
<tr>
<td><p class="customparagraph">{{=form.custom.widget.Cell_Phone}}</p></td>    
<td><p class="customparagraph">هاتف المحمول</p></td>
</tr>
<tr>
<td><p class="customparagraph">{{=form.custom.widget.Email}}</p></td>    
<td><p class="customparagraph">البريد الإلكتروني</p></td>
</tr>
<tr>
<td><p class="customparagraph">{{=form.custom.widget.Home_Address}}</p></td>    
<td><p class="customparagraph">عنوان المنزل</p></td>
</tr>
<tr>
<td><p class="customparagraph">{{=form.custom.widget.Work_address}}</p></td>    
<td><p class="customparagraph">عنوان العمل</p></td>
</tr>
<tr>
<td><p class="customparagraph">{{=form.custom.widget.ID_type}}</p></td>    
<td><p class="customparagraph">نوع المعرف</p></td>
</tr>
<tr>
<td><p class="customparagraph">{{=form.custom.widget.National_Id_or_passport}}</p></td>    
<td><p class="customparagraph">رقم المعرف</p></td>
</tr>
<tr>
<td><p class="customparagraph">{{=form.custom.widget.Issued_from}}</p></td>    
<td><p class="customparagraph">جهة الإصدار</p></td>
</tr>
<tr>
<td><p class="customparagraph">{{=form.custom.widget.Notes}}</p></td>    
<td><p class="customparagraph">ملاحظات</p></td>
</tr>
</table>
<p style="text-align:center">{{=form.custom.submit}}</p>
{{=form.custom.end}}
