{{extend 'layout.html'}}
<p style="text-align:center;">قسيمة إشتراك</p>
<table style="float:right;width:100%">
{{=form.custom.begin}}
<tr>
<td><p class="customparagraph">{{=form.custom.widget.name}}</p></td>    
<td><p class="customparagraph">اسم الحدث</p></td>
</tr>
<tr>
<td><p class="customparagraph">{{=form.custom.widget.event_date}}</p></td>    
<td><p class="customparagraph">تاريخ الرحلة</p></td>
</tr>
{{=form.custom.end}}
</table>
<h2>Submitted variables</h2>
{{=BEAUTIFY(request.vars)}}
<h2>Accepted variables</h2>
{{=BEAUTIFY(form.vars)}}
<h2>Errors in form</h2>
{{=BEAUTIFY(form.errors)}}
